header{background-color: var(--first-color);
    padding: 20px 0;
    color: white;
}

.header-nav{
    display: none;
}

.list-style{
    list-style: none;
}
li > a{
    text-decoration: none;
    color: white;   
}

/* @media-screen( da 0 a 768px) */
@media screen and (min-width:768px) {
    .menu{
        display: none;
    }
    .header-nav{
        display: block;
    }
}
/* /media-screen( da 0 a 768px) */