 .no-box{
    background-color: var(--second-color);
    height: 100px;
    border-radius: .625rem
 }
 
 .width .padding-box{
    width: 100%;
    margin: 1.25rem 0;   
}

.color-section{
    background-color: var(--third-color);
}

.planning{
    padding-top: 2.5rem; 
}

.title{
    text-align: center;
    padding: 2.5rem 0;
}

.text{
    padding-bottom: 2.5rem;
}

.title, .text{
    color: white;
}

.back-ground{
    background-color: white;
    padding: 1.875rem 0;
    border-radius: 1.25rem;
    
}
.padding-box-card-2{
    padding: 1.875rem;
}


.padding-box-color{
    background-color: var(--third-color);
    padding-bottom: 4.1rem;
}

.description-img{
    text-align: center;
    padding-bottom: 1.25rem;   
}

.description-title{
    font-style: italic;
    line-height: 1.565rem;
    padding: 1.25rem 0;
}
.general-bottom.arrow-bottom{
    border-radius: 50%;
    border: none;
    background-color: var(--third-color);

}

/* media-screen (da 0 a 425px) */
@media screen and (min-width:426px) {
    .width .padding-box{
        width:calc(100% / 3);
    }
    .width .padding-box:first-child{
        width: calc(100% / 3 * 2);
    }
    
}
/* /media-screen (da 0 a 425px) */
