@import url(variables.css);
@import url(common.css);
@import url(bottom.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);


/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* RESET */







