/* Variables-layout */
:root{
    --first-color:#0084fd;
    --second-color:#b5ddff;
    --third-color:#9792e4;
}
:root{
    --splr:0 .625rem;
    --mplr:0 .9375rem;
    --gplr: 0 1.25rem;
    --gptb:1.25rem 0;
    --all-p: .625rem .625rem
}
/* Variables-layout */